MYSQL_DATABASE=nextcloud
MYSQL_HOST=prd-nextcloud-db
MYSQL_PASSWORD=
MYSQL_USER=nextcloud
NEXTCLOUD_ADMIN_PASSWORD=
NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_TRUSTED_DOMAINS="192.168.1.3 docker-host.lan"
NEXTCLOUD_HOSTNAME=
REDIS_HOST=prd-nextcloud-redis
